## Deliverable 3. Create a Travel Itinerary Map.

In [51]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import os

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [52]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
os.chdir("../Vacation_Search")
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Hithadhoo,MV,79.95,overcast clouds,-0.6000,73.0833,Scoop Guest House
1,1,Sinnamary,GF,79.43,broken clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
2,7,Kapaa,US,84.18,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,11,Monywa,MM,80.42,overcast clouds,22.1167,95.1333,Monywa Hotel
4,16,Salalah,OM,76.12,overcast clouds,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH

In [53]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and </dt>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [54]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Millville")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Millville")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Mayo")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Culpeper")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Bon Air")]

In [56]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([39.4021, -75.0393], dtype=object)

In [57]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(38, -74), zoom_level = 6.5)
millville = start
mayo = stop1
culpepper = stop2
bon_air = stop3 
roadtrip = gmaps.directions_layer(millville, millville, 
                                  waypoints=[mayo, culpepper, bon_air],
                                  travel_mode="DRIVING")

fig.add_layer(roadtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],
                          ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,625,Millville,US,79.18,clear sky,39.4021,-75.0393,Fairfield Inn & Suites by Marriott Millville V...
1,176,Mayo,US,84.90,clear sky,38.8876,-76.5119,Resorts Resource Group International
2,707,Culpeper,US,83.75,scattered clouds,38.5004,-77.9664,Loose Lodge
3,535,Bon Air,US,80.89,clear sky,37.5249,-77.5578,DoubleTree by Hilton Hotel Richmond - Midlothian

In [59]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and </dt>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [62]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(38, -74), zoom_level = 6.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))